$icomoon-font-path: "../../../assets/fonts" !default;

$miracle-icon-hostel: "\e90c";
$miracle-icon-eda: "\e90d";
$miracle-icon-gid: "\e909";
$miracle-icon-photo: "\e90a";
$miracle-icon-avtobus: "\e90b";
$miracle-icon-viber: "\e902";
$miracle-icon-watsup: "\e900";
$miracle-icon-vk: "\e901";
$miracle-icon-play: "\e903";
$miracle-icon-phone: "\e904";
$miracle-icon-map: "\e905";
$miracle-icon-mail: "\e906";
$miracle-icon-instagram: "\e907";
$miracle-icon-facebook: "\e908";


@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?u9vvui');
  src:  url('#{$icomoon-font-path}/icomoon.eot?u9vvui#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?u9vvui') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?u9vvui') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?u9vvui#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-icon-"], [class*=" miracle-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-icon-hostel {
  &:before {
    content: $miracle-icon-hostel;
  }
}
.miracle-icon-eda {
  &:before {
    content: $miracle-icon-eda;
  }
}
.miracle-icon-gid {
  &:before {
    content: $miracle-icon-gid;
  }
}
.miracle-icon-photo {
  &:before {
    content: $miracle-icon-photo;
  }
}
.miracle-icon-avtobus {
  &:before {
    content: $miracle-icon-avtobus;
  }
}
.miracle-icon-viber {
  &:before {
    content: $miracle-icon-viber;
  }
}
.miracle-icon-watsup {
  &:before {
    content: $miracle-icon-watsup;
  }
}
.miracle-icon-vk {
  &:before {
    content: $miracle-icon-vk;
  }
}
.miracle-icon-play {
  &:before {
    content: $miracle-icon-play;
  }
}
.miracle-icon-phone {
  &:before {
    content: $miracle-icon-phone;
  }
}
.miracle-icon-map {
  &:before {
    content: $miracle-icon-map;
  }
}
.miracle-icon-mail {
  &:before {
    content: $miracle-icon-mail;
  }
}
.miracle-icon-instagram {
  &:before {
    content: $miracle-icon-instagram;
  }
}
.miracle-icon-facebook {
  &:before {
    content: $miracle-icon-facebook;
  }
}