#about-us{
	padding: 1rem 1rem 2rem 1rem;
	position: relative; 
	.section-title{
		margin-bottom: 2rem;
		text-transform: uppercase;
		font-weight: bold;
	}
	p{
		text-align: center;
		&[data-number]{
			color: #34bdc9;
			font-size: 40px;
			font-weight: bold;
			margin: 0;
		}
		img{
			width: 111px;
    		margin-top: 1.6rem;
		}
	}
	.info-card:nth-of-type(2) p:nth-of-type(1):before{
		content: '+';
	}
	.info-card:nth-of-type(3) p:nth-of-type(1):before{
		content: '+';
	}
}