#blog{
	.section-title{
		text-transform: uppercase;
		color: $black;
		text-align: center;
		padding: 2rem;
	}
	form[role="search"]{
		margin: 0 auto 2rem;
		max-width: 42rem;
		padding: 1rem;
		background-color: #34bdc9;
		input{
			margin: 0;
		}
	}
	.grid-container.all-posts{
		max-width: none;
		margin-bottom: 2rem;
		.cell.post{
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding: 2rem;
			.vertical-align{
				color: $white;
				max-width: 60%;
				.button{
					text-shadow: none;
					font-weight: bold;
					border-radius: 2.5rem/100%;
					transition: all 0.2s ease-in 0s;
					padding-left: 1.5rem;
					padding-right: 1.5rem;
					font-size: 1rem;
					&:hover{
						background-color: #F8AD14;
						color: $white;
					}
				}
			}
			.post-title{
				margin-bottom: 1rem;
				position: relative;
				&:after{
					content: "";
					width: 40%;
					height: 1px;
					background-color: white;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
}