#comment{
	padding: 3rem 1rem;
	.section-title{
		text-align: center;
		text-transform: uppercase;
		color: $black;
		font-weight: bold;
	}
	.comment-carousel-item{
		padding: 0 7rem;
		h5.date{
			width: 25%;
			text-align: center;
			padding-top: 1rem;
			span{
				color: #34BDC9;
				text-decoration: underline;
			}
		}
		.content{
			overflow: hidden;
			.pre-image{
				background-image: url(../images/krugi.svg);
				float: left;
				width: 25%;
			    background-repeat: no-repeat;
			    background-size: contain;
			    background-position: center;
			}
			.image{
				width: 25%;
				// margin: 0 auto;
				float: left;
				img{
					width: 100%;
					height: 100%;
					border-radius: 100%;
					object-fit: cover;
				}
			}
			.content-text{
				width: 75%;
				float: left;
				p{
					padding: 2rem;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
	.owl-prev{
		color: #33BDC8;
		font-size: 5rem;
		&:not(.disabled):hover{
			text-shadow: 0px 0px 5px #fecc00;
		}
	}
	.owl-next{
		color: #33BDC8;
		font-size: 5rem;
		&:not(.disabled):hover{
			text-shadow: 0px 0px 5px #fecc00;
		}
	}
}


@media only screen and (max-width: 1024px) and (min-width: 640px){

// #comment{
// 	.comment-carousel .date span{
// 		display: none;
// 	}
// }

}