.off-canvas{
    background: #67ced7;
}

[data-off-canvas] .close-button {
    color: #67ced7;
    margin-top: 0.5rem;
}

form[disabled], form[disabled] input{
    opacity: 0.5;
    cursor: not-allowed;
}

.label{
    display: block;
    border-radius: 20px/50%;
    padding: 0.5rem;
    min-height: 2.5rem;
}

.label.hidden{
    display: none;
}

#offCanvas{
    .menu{
        a{
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 23px;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                background: #fefefe;
                bottom: 0;
                left: 50%;
                transition: all 0.3s ease-out 0s;
            }
            &:hover::after{
                width: 100%;
                left: 0;
            }
        }
    }
}

.vertical_menu_logo{
    background: white;
    margin-top: 10px;
    img{
        margin: 0 auto;
        width: 30%;
        display: block;
        margin-top: 10px;
        padding: 3px 0;
    }
}

footer #bottom-logo .grid-x .footer-phone p {
    font-size: 27px;
}

footer #bottom-logo .grid-x .footer-address p {
    font-size: 27px;
}
.section-title__line{
	height: 66px;
}
.section-title__line_blue{
	background-color: #34bdc9;
}

#photo-gallery .section-title h2{
	padding: 2rem 1rem;
	background: #fff;
}

#photo-gallery .section-title img{
	object-fit: unset;
}

.float-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

header #header-title h1{
    font-size: 75px;
	text-shadow: 2px 2px 0px #f08b31;
    font-weight: 900;	
}

header #header-title .subtitle {
    text-shadow: none;
    font-size: 21px; 
}

header #top-logo .grid-x .header-phone {
    right: 45px;
}

header #header-title{
	max-height: calc( 100vh - 5vw - 70px );
	min-height: 300px;
}

body {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code {
  font-family: 'Roboto', Consolas, "Liberation Mono", Courier, monospace;
}

kbd {
  font-family: 'Roboto', Consolas, "Liberation Mono", Courier, monospace;
}

nav#navigation ul > li a {
    font-size: 21px;
}

#about-us p[data-number] {
    font-size: 80px;
}

#about-us p {
    font-weight: 300;
}

.card-section h3, .card-section p{
	font-weight: 300;
}

section#tour .tabs-content table thead tr th {
    color: black;
    font-size: 21px;
    font-weight: 300;
}

section#tour .tabs-panel tr td:nth-of-type(5){
	font-size: 25px;
}

section#tour .tabs-content table tbody tr td p.tour_price > span span:after {
    height: 2px;
}

section#tour .tabs-content table tbody tr td .grid-container:not(.include) .program-section .program-carousel .owl-next:not(.disabled):hover,
section#tour .tabs-content table tbody tr td .grid-container:not(.include) .program-section .program-carousel .owl-prev:not(.disabled):hover {
    text-shadow: 0px 0px 5px #e6e6e6;
}

section#tour .left-tour-info h3.left-title {
    margin-top: 24px;
}

[type='text'], 
[type='password'], 
[type='date'], 
[type='datetime'], 
[type='datetime-local'], 
[type='month'], 
[type='week'], 
[type='email'], 
[type='number'], 
[type='search'], 
[type='tel'], 
[type='time'], 
[type='url'], 
[type='color'], 
textarea {
    border: 2px solid #cacaca;
    box-shadow: none;
    font-size: 25px;
    font-weight: 300;
}

section#tour .left-tour-info input[type="submit"] {
    font-weight: bold;
    width: 70%;
    font-size: 25px;
    margin-top: 22px;
    padding: 10px 5px;
}

#comment .comment-carousel-item h5.date span {
    font-weight: 300;
}

section#question .grid-container .accordion .accordion-content {
    font-weight: 300;
}

section#question .grid-container .accordion .accordion-title {
    font-weight: 300;
}

.button.orange {
    font-weight: bold;
    width: 70%;
    font-size: 25px;
    padding: 10px 5px;
}

footer #bottom-logo .grid-x .footer-phone {
    left: 4%;
}

footer #bottom-logo .grid-x .footer-address {
    right: 4%;
}

section#question{
    z-index: 1;
}


#comment .owl-next:not(.disabled):hover, 
#comment .owl-prev:not(.disabled):hover {
    text-shadow: 0px 0px 5px #e6e6e6;
}

#reveiw .reveiw-carousel .owl-next:not(.disabled):hover, 
#reveiw .reveiw-carousel .owl-prev:not(.disabled):hover {
    text-shadow: 0px 0px 5px #e6e6e6;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f8ad14;
}

#mobile_after_header_form{
    .mobile_after_header_form_title{
        background-color: map-get($foundation-palette, orange);
        color: $white;
        line-height: 1.5;
        font-weight: bold;
        font-size: 1.9rem;
    }
    .form{
        padding: 1rem 1rem;
        background-color: #fff;
        margin-bottom: 2rem;
        .h3{
            color: #f08b31;
        }
        form{
            text-align: center;
            .button.orange{
                background-color: #34bdc9;
            }
            input{
                border-radius: 20px/50%;
                text-align: center;
                min-height: 2.5rem;
                &[type="submit"]{
                    color: $white;
                    font-weight: bold;
                    margin: 0;
                    &:hover{
                        background-color: #FECC00;
                        color: $black;
                    }
                }
            }
        }
    }
}

[type='text']:focus, 
[type='password']:focus, 
[type='date']:focus, 
[type='datetime']:focus, 
[type='datetime-local']:focus, 
[type='month']:focus, 
[type='week']:focus, 
[type='email']:focus, 
[type='number']:focus, 
[type='search']:focus, 
[type='tel']:focus, 
[type='time']:focus, 
[type='url']:focus, 
[type='color']:focus, 
textarea:focus{
    outline: none;
    border: 1px solid #34bdc9;
    background-color: #fefefe;
    box-shadow: 0 0 5px #34bdc9;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

#owl-winter, #owl-summer, #owl-autumn, #owl-spring{
    .owl-prev{
        left: -25px;
    }
    .owl-next{
        right: -25px;
    }
    .owl-nav{
        .fa{
            color: $white;
            font-size: 60px;
        }
    }
}

@media only screen and (max-width: 480px){
    header #header-title{
        min-height: 0;
    }
}

@media only screen and (max-width: 640px){
    #blog{
        .grid-container.all-posts{
            .cell.post{
                padding: .3rem;
                .post-title{
                    font-size: 15px;
                    position: relative;
                }
                .vertical-align{
                    top: unset;
                    transform: none;
                    max-width: 100%;
                    h2{
                        margin-bottom: .3rem;
                    }
                    p{
                        font-size: 12px;
                        margin-bottom: .3rem;
                    }
                    .button{
                        margin: 0 auto;
                        display: block;
                        width: 50%;
                    }
                }
            }
        }
    }

    section#question{
        padding-top: 0;
    }

    #photo-gallery .section-title h2{
        font-size: 30px;
    }
    header#header #header-title{
        // background-color: #34bdc9;
        background-attachment: inherit;
    }
    .cell{
        margin-bottom: 0.3rem;
    }
    .title-bar{
        padding: 0.2rem;
    }
    header #header-title h1{
        font-size: 30px;
    }
    header #header-title .grid-container{
        height: 35vh;
    }
    footer #bottom-logo .grid-x .footer-phone p, footer #bottom-logo .grid-x .footer-address p {
        font-size: 20px;
        font-weight: 100;
    }
    footer{
        padding: 1rem;
    }
    #comment{
        padding: 3rem 0;
    }
    #comment .comment-carousel-item .content .image{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        display: block;
        float: none;
    }
    #comment .comment-carousel-item{
        padding: 0;
    }
    .owl-carousel .owl-item .owl-lazy{
        min-height: 0;
    }
    #comment .comment-carousel-item .content .content-text {
        width: 100%;
        float: none;
    }
    #comment .comment-carousel-item .content .content-text p{
        padding: 1rem 2.5rem;
        font-size: 14px;
        margin: 0;
        position: relative;
        top: 0;
        -webkit-transform: inherit;
        -ms-transform: inherit;
        transform: inherit;
        text-align: center;
    }
    #comment .comment-carousel-item h5.date{
        width: 100%;
    }
    section#question .grid-container .form{
        margin-bottom: 0;
        padding: 1rem 1rem;
    }
    #about-us{
        .section-title{
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #f8ad14;
                left: 0;
            }
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #f8ad14;
                left: 0;
                top: 57px;
            }
        }
    }
    #working{
        background-image: none;
    }
    .section-title{
        font-size: 30px;
    }
    section#tour{
        .section-title{
            background-color: #34bdc9;
            margin: 1rem 0 2px;
            color: white;
        }
        .tabs-panel{
            background-color: #f8ad14;
            padding: 1rem 0;
        }
        ul{
            border: none;
        }
        .menu.expanded{
            li{
                width: 20%;
                padding: 0;
                a{
                    font-size: 17px;
                    padding: 1.25rem 0.5rem;
                }
                &.is-active{
                    a:after{
                        width: calc(100% - 1rem);
                        left: 10%;
                    }
                }
            }
        }
        .include{
            .fa{
                font-size: 30px;
                color: #34bdc9;
            }
        } 
    }
}

@media only screen and (min-width: 640px) and (max-width: 1024px){
    header {
        #top-logo .grid-x .header-phone {
            right: 0px;
        }
        #header-title{
            min-height: 300px;
            .grid-container{
                height: 35vh;
                padding-top: 5rem;
            }
            h1{
                font-size: 50px;
            } 
        }
    }
    header #header-title 
    #comment .comment-carousel-item .content .content-text p{
        padding: 1rem 2.5rem;
        font-size: 14px;
        margin: 0;
        position: relative;
        top: 0;
        -webkit-transform: inherit;
        -ms-transform: inherit;
        transform: inherit;
        // text-align: center;
    }
    #blog{
        .grid-container.all-posts{
            .cell.post{
                padding: .3rem;
                .post-title{
                    font-size: 15px;
                    position: relative;
                }
                .vertical-align{
                    top: unset;
                    transform: none;
                    max-width: 100%;
                    h2{
                        margin-bottom: .3rem;
                    }
                    p{
                        font-size: 12px;
                        margin-bottom: .3rem;
                    }
                    .button{
                        margin: 0 auto;
                        display: block;
                        width: 50%;
                    }
                }
            }
        }
    }
}