footer{
	margin-top: 2rem;
	padding: 2rem;
	padding-bottom: 0;
	background-color: #34bdc9;
	color: $white;
	#bottom-logo{
		max-width: 2500px;
		.grid-x{
			position: relative;
			.for-logo{
				position: relative;
				margin: 0 auto;
				.cell{
					background-color: inherit;
					width: auto;
					height: 10vw;
					position: relative;
					padding: 0.5rem 0.5rem 0;
					border: 2px solid $white;
					border-bottom: none;
					margin-top: 5rem;
					img{
						width: auto;
						height: 100%;
						z-index: 100;
						padding: 0.5rem 6rem;
						background-color: $white;
						visibility: collapse;
					}
				}
			}
			.footer-phone{
				position: absolute;
				top: 0;
				left: 0;
				p{
					margin-bottom: 0.5rem;
					font-size: 20px;
					float: left;
					a{
						color: white;
					}
				}
				i{
					float: left;
					margin-right: 20px;
					font-size: 25px;
				}
			}
			.footer-address{
				position: absolute;
				top: 0;
				right: 1rem;
				text-align: right;
				p{
					margin-bottom: 0;
					font-size: 20px;
					i{
						margin-left: 20px;
						&.miracle-icon-map{
							font-size: 25px;
						}
					}
				}
				.menu a{
					padding-right: 0;
					font-size: 25px;
					color: $white;
				}
			}
		}
	}
}


@media only screen and (max-width: 1024px) and (min-width: 640px){

footer{
	.for-logo{
		visibility: hidden;
		img{
			visibility: collapse !important;
		}
	}
}

}


@media only screen and (max-width: 640px){

footer{
	.for-logo{
		display: none;
	}
	.footer-phone{
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		margin: 0 auto !important;
	}
	.footer-address{
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		p{
			text-align: center;
		}
		ul.menu{
			justify-content: center;
		}
	}
}

}


@media only screen and (max-width: 400px){

footer{
	p{
		i{
			display: none !important;
		}
	}
}

}