header{
	#top-logo{
		max-width: 2500px;
		.grid-x{
			position: relative;
			.for-logo{
				position: relative;
				margin: 0 auto -5vw;
				.cell{
					background-color: inherit;
					width: auto;
					height: 10vw;
					position: relative;
					padding: 0 0.5rem 0.5rem;
					border: 2px solid $white;
					border-top: none;
					img{
						width: auto;
						height: 100%;
						z-index: 100;
						padding: 0.5rem 6rem;
						background-color: $white;
						visibility: collapse;
					}
					&:before{
						content: "";
						position: absolute;
						width: 0.5rem;
						background-color: #f8ad14;
						height: 5vw;
						top: 0;
						left: 0;
					}
					&:after{
						content: "";
						position: absolute;
						width: 0.5rem;
						background-color: #f8ad14;
						height: 5vw;
						top: 0;
						right: 0;
					}
				}
				&:before{
					content: "";
					position: absolute;
					width: 1.5rem;
					background-color: #f8ad14;
					height: 50%;
					top: 0;
					left: calc( 2px - 1.5rem );
				}
				&:after{
					content: "";
					position: absolute;
					width: 1.5rem;
					background-color: #f8ad14;
					height: 50%;
					top: 0;
					right: -1.5rem;
				}
			}
			.header-phone{
				position: absolute;
				right: 0;
				padding: 0 1rem;
				p{
					margin: 0;
					text-align: right;
					font-size: 1.5rem;
					color: #CCCECE;
					i:before{
						color: #34BDC9;
						padding-right: 10px;
					}
				}
			}
		}
	}

	#header-title{
		min-height: calc( 100vh - 5vw );
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size:cover;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-color: #33BDC8;
		color: $white;
		.grid-container{
			height: calc( 100vh - 5vw ); 
		}
		h1{
			font-weight: bold;
			text-shadow: 2px 2px 5px #f08b31;
		}
		.subtitle{
			text-shadow: 1px 1px 2px #f08b31;
		}
	}
}