.title-bar[data-toggle="offCanvas"]{
	// padding-top: 1rem;
	background-color: $white;
	border-bottom: 1px solid $light-gray;
	.menu-icon{
		@include hamburger($black, $dark-gray, 30px, 18px, 2px, 3);
		margin-right: 15px;
	}
	.title-bar-title{
		width: 100%;
		text-align: center;
		img{
			max-height: 3rem;
		}
	}
}

[data-off-canvas]{
	.close-button{
		color: $white;
		margin-top: 0.5rem;
	}
	.menu.vertical{
		margin-top: 0.5rem;
	}
}