#photo-gallery{
	.section-title{
		background-color: $white;
		position: relative;
		h2{
			text-align: center;
			text-transform: uppercase;
			padding: 2rem 1rem;
			margin: 0;
			color: $black;
			font-weight: bold;
			// background-image: linear-gradient(to bottom, rgba(52,189,201,0) 62%, rgba(52,189,201,1) 67%, rgba(52,189,201,1) 100%);
		}
		img{
			height: 100%;
			width: 10%;
			object-fit: contain;
			position: absolute;
			top: 0;
			&.abs-image-right{
				right: 0;
			}
			&.abs-image-left{
				left: 0;
			}
		}
	}
	#photo-gallery-card{
		background-color: #ebecec;
		padding-bottom: 2rem;
		.grid-x.gallery{
			padding-top: 2rem;
			img{
				background-color: #999;
				border: 1px solid #999;
			}
			.index-image{
				position: relative;
				img{
					margin-right: 5px;
					height: 100%;
					width: calc( 100% - 5px );
					object-fit: cover;
				}
				.info-img{
					position: absolute;
					height: 100%;
					width: calc( 100% - 5px );
					top: 0;
					left: 0;
					background-color: rgba( 0, 0, 0, 0.6 );
					.vertical-align{
						width: 100%;
						text-align: center;
						color: $white;
						h2{
							margin: 0;
							line-height: 1;
							font-weight: bold;
						}
						p{
							margin-bottom: 7px;
							font-weight: bold;
						}
						span{
							color: #FECC00;
						}
						a{
							border-radius: 20px/50%;
							color: $white;
							font-weight: bold;
						}
					}
				}
			}
			.medium-image{
				img{
					margin-right: 5px;
					height: calc( 50% - 2.5px );
					width: calc( 100% - 5px );
					object-fit: cover;
					&:nth-of-type(1){
						margin-bottom: 5px;
					}
				}
			}
			.small-image{
				img{
					object-fit: cover;
					&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
						width: calc( 100% / 3 - 6px );
						height: calc( 40% - 2.5px );
						margin-bottom: 5px;
					}
					&:nth-of-type(4), &:nth-of-type(5){
						width: calc( 100% / 2 - 6px );
						height: calc( 60% - 2.5px );
					}
					&:nth-of-type(3), &:nth-of-type(5){
						margin-right: 5px;
					}
				}
			}
		}
	}
	#add_new_gallery_posts{
		position: relative;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 2rem;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
		&:hover{
			background-color: #f8ad14;
			&:after{
				background-color: #f8ad14;
			}
		}
		&:after{
			content: '';
			position: absolute;
			background: #34bdc9;
			left: calc( 50% - 1.75rem );
			bottom: -1.75rem;
			width: 3.5rem;
			height: 3.5rem;
			transform: rotate(45deg);
			transition: background-color 0.25s ease-out, color 0.25s ease-out;
			z-index: -1;
		}
		&[disabled]{
			opacity: 1;
			cursor: not-allowed;
			// &:after{
			// 	opacity: 50%;
			// }
		}
		&:active{
			background: #34bdc9;
			&:after{
				background: #34bdc9;
			}
		}
		&:focus{
			background: #34bdc9;
			&:after{
				background: #34bdc9;
			}
		}
		&.hide{
			display: none;
			&:after{
				display: none;
			}
		}
	}
}