section#question{
	background-color: #F8AD14;
	padding-top: 2rem;
	position: relative;
	.section-title{
		text-align: center;
		text-transform: uppercase;
		color: $white;
		padding-bottom: 2rem;
		font-weight: bold;
	}
	.grid-container{
		max-width: 1000px;
		position: relative;
		z-index: 100;
		.accordion{
			background-color: rgba( $white, 0);
			.accordion-item{
				margin-bottom: 2rem;
			}
			.accordion-title, .accordion-title:hover, .accordion-title:active{
				background-color: $white;
				border: none;
				color: $black;
				font-size: 1rem;
			}
			.accordion-title{
				padding-right: 5rem;
				&:before{
					position: absolute;
					top: 0;
					right: 0;
					margin-top: 0;
					content: "\f107";
					color: #F7AC13;
					height: 100%;
					background-color: #EBECEC;
					width: 4rem;
					line-height: 0;
					padding: 1.7rem 0.5rem;
					font-family: "FontAwesome";
					font-size: 4.5rem;
					transition: all 0.2s ease-in 0s;
				}
				&[aria-selected="true"]:before{
					color: $white;
					background-color: #34BDC9;
				}

			}
			.accordion-content{
				border: none;
				background-color: #34BDC9;
				color: $white;
				font-size: 1rem;
			}
		}
		.mobile_before_footer_form_title{
			font-weight: bold;
		    font-size: 1.9rem;
		    color: $white;
		}
		.form{
			background-color: #34bdc9;
			padding: 1rem 4rem;
			margin: 0 auto;
			margin-bottom: 2rem;
			form{
				text-align: center;
				input{
					border-radius: 20px/50%;
					text-align: center;
					min-height: 2.5rem;
					&[type="submit"]{
						color: $white;
						font-weight: bold;
						margin: 0;
						&:hover{
							background-color: #FECC00;
							color: $black;
						}
					}
				}
			}
		}
	}
	img.abs-image{
		&-right{
			position: absolute;
			width: 15%;
			bottom: 0;
			right: 0;
		}
		&-left{
			position: absolute;
			width: 15%;
			top: 5%;
			left: 10px;
		}
	}
}