#reveiw{
	padding-top: 1rem;
	position: relative;
	.bg-krugi{
		background-image: url(../images/krugi.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: -5%;
		left: calc(100vw - (100vw * 1.1));
		width: calc(100vw / 3 );
		height: calc(100vh / 3);
	}
	.bg-krugi2{
		background-image: url(../images/krugi.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		bottom: 5%;
		left: calc(100vw - (100vw * 0.3));
		width: 200px;
		height: calc(100vh / 3);
	}
	.section-title{
		padding: 1rem;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		color: $black;
	}
	.reveiw-carousel{
		// width: calc( 500px + 10rem );
		margin: 0 auto;
		.item-video{
			margin: 0 auto;
		}
		.miracle-video-title{
			position: absolute;
			top: calc( 50% + 50px );
			width: 100%;
			padding: 0 10%;
			text-align: center;
			font-size: 30px;
			color: $white;
			font-weight: bold;
			text-shadow: 2px 2px 5px #f08b31;
			span{
				color: yellow;
			}
		}
		.owl-prev{
			font-size: 5rem;
			color: #33BDC8;
			&:not(.disabled):hover{
				text-shadow: 0px 0px 5px #fecc00;
			}
		}
		.owl-next{
			font-size: 5rem;
			color: #33BDC8;
			&:not(.disabled):hover{
				text-shadow: 0px 0px 5px #fecc00;
			}
		}
	}
	.bottom-bg{
		height: 5rem;
		background-color: #34bdc9;
		margin-top: 2rem;
	}
	& > .grid-container > .grid-x > .cell{
		overflow: auto;
		padding-bottom: 1rem;
	}
}