nav#navigation{
	padding: 0.5rem;
	background-color: #f8ad14;
	ul>li{
		border-right: 1px solid $white;
		a{
			padding: 1rem;
			text-transform: uppercase;
			color: $white;
			position: relative;
			font-weight: bold;
			&:after{
				content: "";
				position: absolute;
				width: 0%;
				height: 2px;
				background: $white;
				bottom: 0;
				left: 50%;
				transition: all 0.3s ease-out 0s;
			}
			&:hover::after{
				width: 100%;
				left: 0;
			}
		}
	}
	ul>li:nth-last-of-type(1){
		border-right: none;
	}
}