#single-post{
	.cell.post-content{
		padding: 2rem 1rem;
	}
	.button.in-blog{
		text-align: center;
		border-radius: 30px/50%;
		color: $black;
		font-weight: bold;
		transition: all 0.2s ease-in 0s;
		&:hover{
			color: $white;
			background-color: #FECC00;
		}
	}
}