section#tour{
	.section-title{
		text-align: center;
		text-transform: uppercase;
		padding: 2rem;
		color: $black;
		font-weight: bold;
	}
	.menu.expanded{
		border-top: none;
		border-bottom: 1px solid $white;
		background-color: #34bdc9;
		li{
			padding: 1rem;
			position: relative;
			a{
				text-align: center;
				text-transform: uppercase;
				color: $white;
				font-weight: bold;
				font-size: 30px;
				position: relative;
				transition: all 0.3s ease-out 0s;
				&:after{
					content: "";
					position: absolute;
					width: 0%;
					height: 5px;
					background: #FECC00;
					bottom: 0;
					left: 50%;
					transition: all 0.3s ease-out 0s;
				}
				&:hover{
					color: #FECC00;
					&:after{
						width: calc( 100% - 2.5rem );
						left: 1.25rem;
					}
				}
			}
			&.is-active{
				a{
					background-color: inherit;
					color: #FECC00;
					&:after{
						width: calc( 100% - 2.5rem );
						left: 1.25rem;
					}
				}
			}
			&:hover{
				a{
					background-color: inherit;
				}
			}
			&:after{
				content: "";
				position: absolute;
				width: 1px;
				height: calc( 100% - 2rem );
				background-color: $white;
				top: 1rem;
				right: 0;
			}
			&:nth-last-of-type(1):after{
				display: none;
			}
		}
	}
	.after-tabs{
		background-color: #34bdc9;
		padding: 1rem;
		color: $white;
		text-align: center;
		position: relative;
		h2{
			text-transform: uppercase;
			margin: 0;
			font-weight: bold;
		}
		img{
			&.abs-image-left {
			    position: absolute;
			    width: 15%;
			    bottom: 0;
			    left: 10px;
			}
			&.abs-image-right{
				position: absolute;
			    width: 15%;
			    bottom: 0;
			    right: 5%;
			}
		}
	}
	.tabs-content{
		background-color: #EBECEC;
		table{
			thead{
				background-color: inherit;
				border: none;
				tr th{
					text-align: center;
					background-color: #FECC00;
					color: white;
					&.text-left{
						text-align: left;
					}
				}
			}
			tbody{
				background-color: inherit;
				border: none;
				tr{
					.hide{
						display: none; 
					}
					td{
						text-align: center;
						background-color: white;
						color: $black;
						font-weight: bold;
						&.text-left{
							text-align: left;
						}
						p.tour_price{
							padding: 0.25rem;
							margin: 0;
							& > span{
								padding: 0.25rem;
								border-radius: 2rem/100%;
								border: 2px solid #33BDC8;
								color: #33BDC8;
								span{
									color: $black;
									position: relative;
									&:after{
										content: "";
										position: absolute;
										width: 100%;
										height: 7px;
										background-color: $black;
										top: 0;
										right: 0;
										transform-origin: top right;
										transform: skewY(-15deg) translateY(-25%);
									}
								}
							}
						}
						button.button{
							margin: 0;
							border-radius: 2rem/100%;
							padding: 0.5rem 1rem;
							background-color: #fecc00;
							color: $black;
							font-weight: bold;
							&:hover{
								background-color: #33BDC8;
								color: $white;
							}
						}
						.grid-container:not(.include){
							h3.right-title{
								font-weight: bold;
								color: #33BDC8;
							}
							width: 85vw;
							max-width: 65rem;
							.item img{
								height: 100%;
								object-fit: cover;
							}
							.program-section{
								padding-right: 4rem;
								padding-left: 4rem;
								.program-carousel{
									.owl-prev{
										font-size: 3rem;
										left: -3rem;
										color: #33BDC8;
										&:not(.disabled):hover{
											text-shadow: 0px 0px 5px #fecc00;
										}
									}
									.owl-next{
										font-size: 3rem;
										right: -3rem;
										color: #33BDC8;
										&:not(.disabled):hover{
											text-shadow: 0px 0px 5px #fecc00;
										}
									}
								}
							}
							.after-tour-slider{
								position: relative;
								p.day{
									font-size: 2rem;
									position: absolute;
									width: 7.5rem;
									height: 7.5rem;
									border-radius: 100%;
									background-color: #FECC00;
									padding: 1.5rem 0;
									line-height: 1;
									margin: 0;
									top: 0;
									left: 0;
									transform: translateY(-75%) translateX(-25%);
									z-index: 4;
									color: white;
									font-weight: bold;
								}
								p.content{
									text-align: left;
									padding-top: 3rem;
									font-weight: initial;
								}
							}
							.grid-x.gallery{
								padding-top: 2rem;
								img{
									background-color: #999;
									border: 1px solid #999;
								}
								.index-image{
									position: relative;
									img{
										margin-right: 5px;
										height: 100%;
										width: calc( 100% - 5px );
										object-fit: cover;
									}
									.info-img{
										position: absolute;
										height: 100%;
										width: calc( 100% - 5px );
										top: 0;
										left: 0;
										background-color: rgba( 0, 0, 0, 0.6 );
										.vertical-align{
											width: 100%;
											text-align: center;
											color: $white;
											h2{
												line-height: 1;
											}
											span{
												color: #FECC00;
												font-size: 1.5rem;
											}
											a{
												border-radius: 20px/50%;
											}
										}
									}
								}
								.medium-image{
									img{
										margin-right: 5px;
										height: calc( 50% - 2.5px );
										width: calc( 100% - 5px );
										object-fit: cover;
										&:nth-of-type(1){
											margin-bottom: 5px;
										}
									}
								}
								.small-image{
									a{
										img{
											object-fit: cover;
										}
										&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
											img{
												width: calc( 100% / 3 - 5px );
												height: calc( 40% - 2.5px );
												margin-bottom: 5px;
												display: inline;
											}
										}
										&:nth-of-type(4), &:nth-of-type(5){
											img{
												width: calc( 100% / 2 - 5px );
												height: calc( 60% - 2.5px );
												display: inline;
											}
										}
										&:nth-of-type(3), &:nth-of-type(5){
											img{
												margin-right: 5px;
											}
										}
									}
								}
							}
						}
					}
					&:nth-of-type(3n+1){
						background-color: inherit !important;
						height: 2rem;
					}
				}
			}
		}
	}
	.left-tour-info{
		h3.left-title{
			color: #FECC00;
			font-weight: bold;
		}
		input{
			border-radius: 20px/50%;
			text-align: center;
			min-height: 2.5rem;
			&[type="submit"]{
				background-color: #FECC00;
				color: $black;
				font-weight: bold;
			}
		}
		.grid-container.include{
			font-weight: initial;
			i.fa{
				color: #33bdc8;
				font-size: 40px;
				line-height: 1.5;
			}
		}
	}
	.mobile_tour_card{
		width: 92%;
    	margin: 0 auto;
		.mobile_tour_card__header{
			color: $white;
			text-transform: uppercase;
			line-height: 29px;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 0;
		}
		small{
			color: $white;
		}
		.mobile_tour_info{
			background-color: white;
    		padding: 0.3rem 1.2rem;
    		.program-carousel{
    			width: 80%;
    			margin: 0 auto;
				.owl-prev{
					font-size: 3rem;
					left: -3rem;
					color: #33BDC8;
					&:not(.disabled):hover{
						text-shadow: 0px 0px 5px #fecc00;
					}
				}
				.owl-next{
					font-size: 3rem;
					right: -3rem;
					color: #33BDC8;
					&:not(.disabled):hover{
						text-shadow: 0px 0px 5px #fecc00;
					}
				}
				.fa{
					color: #34bdc9;
					font-size: 40px;
				}
			}
		}
		.mobile_tour_card__subtitle{
			color: #34bdc9;
		    font-weight: bold;
		    font-size: 25px;
		}
		.form{
	        padding: 1rem 1rem;
	        background-color: #fff;
	        margin-bottom: 2rem;
	        .h3{
	            color: #f08b31;
	        }
	        form{
	            text-align: center;
	            .button{
	                background-color: #f8ad14;
	            }
	            input{
	                border-radius: 20px/50%;
	                text-align: center;
	                min-height: 2.5rem;
	                &[type="submit"]{
	                    color: $black;
	                    font-weight: bold;
	                    margin: 0;
	                    &:hover{
	                        background-color: #34bdc9;;
	                        color: $white;
	                    }
	                }
	            }
	        }
	    }
	    .after-tour-slider{
	    	position: relative;
	    	p.day{
		    	font-size: 1rem;
			    position: absolute;
			    width: 4.5rem;
			    height: 4.5rem;
			    border-radius: 100%;
			    background-color: #FECC00;
			    padding: 1rem 0;
			    line-height: 1rem;
			    margin: 0;
			    top: 0;
			    left: 0;
			    -webkit-transform: translateY(-75%) translateX(-25%);
			    -ms-transform: translateY(-75%) translateX(-25%);
			    transform: translateY(-75%) translateX(-25%);
			    z-index: 100;
			    color: white;
			    font-weight: bold;
			}
			p.content{
				padding-top: 1rem;
			}
	    }
	}
}