#working{
	padding: 2rem 6rem;
	background-image: url("../images/plain.png"), url("../images/shar.png");
	background-size: 20% auto, 20% auto;
	background-position: bottom left, center right;
	background-repeat: no-repeat;
	background-color: #f8ad14;
	.section-title{
		margin-bottom: 2rem;
		text-transform: uppercase;
		color: $black;
		font-weight: bold;
	}
	.working-carousel{
		margin: 0 auto;
		.card{
			max-width: 350px;
			margin: 0 auto;
			ul.menu li a{
				padding-left: 0;
				padding-bottom: 0;
				i:before{
					color: #f8ad14;
					font-size: 1.75rem;
				}
			}
		}
		.card-section.image{
			padding-bottom: 0;
			div{
				border-radius: 0;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.card-section:not(.image){
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			ul.menu{
				margin-top: auto;
			}
		}
		.owl-nav{
			.owl-prev{
				font-size: 3rem;
				left: -3rem;
				color: $white;
				&:not(.disabled):hover{
					text-shadow: 0px 0px 5px #fecc00;
				}
			}
			.owl-next{
				font-size: 3rem;
				right: -3rem;
				color: $white;
				&:not(.disabled):hover{
					text-shadow: 0px 0px 5px #fecc00;
				}
			}
		}
	}
}

@media only screen and (max-width: 500px){
	#working{
		padding: 1rem;
		.working-carousel{
			.owl-prev{
				display: none;
			}
			.owl-next{
				display: none;
			}
		}
	}
}