/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel {
	.owl-item {
		.owl-lazy {
				opacity: 0;
				transition: opacity 400ms ease;
				// min-height: 300px;
		}

		img.owl-lazy {
			transform-style: preserve-3d;
		}
	}
}

