<<<<<<< HEAD
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xa6tcy');
  src:  url('fonts/icomoon.eot?xa6tcy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xa6tcy') format('truetype'),
    url('fonts/icomoon.woff?xa6tcy') format('woff'),
    url('fonts/icomoon.svg?xa6tcy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-icon-"], [class*=" miracle-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-icon-hostel:before {
  content: "\e90c";
}
.miracle-icon-eda:before {
  content: "\e90d";
}
.miracle-icon-gid:before {
  content: "\e909";
}
.miracle-icon-photo:before {
  content: "\e90a";
}
.miracle-icon-avtobus:before {
  content: "\e90b";
}
.miracle-icon-viber:before {
  content: "\e902";
}
.miracle-icon-watsup:before {
  content: "\e900";
}
.miracle-icon-vk:before {
  content: "\e901";
}
.miracle-icon-play:before {
  content: "\e903";
}
.miracle-icon-phone:before {
  content: "\e904";
}
.miracle-icon-map:before {
  content: "\e905";
}
.miracle-icon-mail:before {
  content: "\e906";
}
.miracle-icon-instagram:before {
  content: "\e907";
}
.miracle-icon-facebook:before {
  content: "\e908";
}
=======
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xa6tcy');
  src:  url('fonts/icomoon.eot?xa6tcy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xa6tcy') format('truetype'),
    url('fonts/icomoon.woff?xa6tcy') format('woff'),
    url('fonts/icomoon.svg?xa6tcy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-icon-"], [class*=" miracle-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-icon-hostel:before {
  content: "\e90c";
}
.miracle-icon-eda:before {
  content: "\e90d";
}
.miracle-icon-gid:before {
  content: "\e909";
}
.miracle-icon-photo:before {
  content: "\e90a";
}
.miracle-icon-avtobus:before {
  content: "\e90b";
}
.miracle-icon-viber:before {
  content: "\e902";
}
.miracle-icon-watsup:before {
  content: "\e900";
}
.miracle-icon-vk:before {
  content: "\e901";
}
.miracle-icon-play:before {
  content: "\e903";
}
.miracle-icon-phone:before {
  content: "\e904";
}
.miracle-icon-map:before {
  content: "\e905";
}
.miracle-icon-mail:before {
  content: "\e906";
}
.miracle-icon-instagram:before {
  content: "\e907";
}
.miracle-icon-facebook:before {
  content: "\e908";
}
>>>>>>> 5e8d487f7cd07eda030dcb0b1bff29dce422e99f
