<<<<<<< HEAD
@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?xa6tcy');
  src:  url('#{$icomoon-font-path}/icomoon.eot?xa6tcy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?xa6tcy') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?xa6tcy') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?xa6tcy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-icon-"], [class*=" miracle-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-icon-hostel {
  &:before {
    content: $miracle-icon-hostel;
  }
}
.miracle-icon-eda {
  &:before {
    content: $miracle-icon-eda;
  }
}
.miracle-icon-gid {
  &:before {
    content: $miracle-icon-gid;
  }
}
.miracle-icon-photo {
  &:before {
    content: $miracle-icon-photo;
  }
}
.miracle-icon-avtobus {
  &:before {
    content: $miracle-icon-avtobus;
  }
}
.miracle-icon-viber {
  &:before {
    content: $miracle-icon-viber;
  }
}
.miracle-icon-watsup {
  &:before {
    content: $miracle-icon-watsup;
  }
}
.miracle-icon-vk {
  &:before {
    content: $miracle-icon-vk;
  }
}
.miracle-icon-play {
  &:before {
    content: $miracle-icon-play;
  }
}
.miracle-icon-phone {
  &:before {
    content: $miracle-icon-phone;
  }
}
.miracle-icon-map {
  &:before {
    content: $miracle-icon-map;
  }
}
.miracle-icon-mail {
  &:before {
    content: $miracle-icon-mail;
  }
}
.miracle-icon-instagram {
  &:before {
    content: $miracle-icon-instagram;
  }
}
.miracle-icon-facebook {
  &:before {
    content: $miracle-icon-facebook;
  }
}

=======
@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?xa6tcy');
  src:  url('#{$icomoon-font-path}/icomoon.eot?xa6tcy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?xa6tcy') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?xa6tcy') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?xa6tcy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="miracle-icon-"], [class*=" miracle-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.miracle-icon-hostel {
  &:before {
    content: $miracle-icon-hostel;
  }
}
.miracle-icon-eda {
  &:before {
    content: $miracle-icon-eda;
  }
}
.miracle-icon-gid {
  &:before {
    content: $miracle-icon-gid;
  }
}
.miracle-icon-photo {
  &:before {
    content: $miracle-icon-photo;
  }
}
.miracle-icon-avtobus {
  &:before {
    content: $miracle-icon-avtobus;
  }
}
.miracle-icon-viber {
  &:before {
    content: $miracle-icon-viber;
  }
}
.miracle-icon-watsup {
  &:before {
    content: $miracle-icon-watsup;
  }
}
.miracle-icon-vk {
  &:before {
    content: $miracle-icon-vk;
  }
}
.miracle-icon-play {
  &:before {
    content: $miracle-icon-play;
  }
}
.miracle-icon-phone {
  &:before {
    content: $miracle-icon-phone;
  }
}
.miracle-icon-map {
  &:before {
    content: $miracle-icon-map;
  }
}
.miracle-icon-mail {
  &:before {
    content: $miracle-icon-mail;
  }
}
.miracle-icon-instagram {
  &:before {
    content: $miracle-icon-instagram;
  }
}
.miracle-icon-facebook {
  &:before {
    content: $miracle-icon-facebook;
  }
}

>>>>>>> 5e8d487f7cd07eda030dcb0b1bff29dce422e99f
