<<<<<<< HEAD
$icomoon-font-path: "fonts" !default;

$miracle-icon-hostel: "\e90c";
$miracle-icon-eda: "\e90d";
$miracle-icon-gid: "\e909";
$miracle-icon-photo: "\e90a";
$miracle-icon-avtobus: "\e90b";
$miracle-icon-viber: "\e902";
$miracle-icon-watsup: "\e900";
$miracle-icon-vk: "\e901";
$miracle-icon-play: "\e903";
$miracle-icon-phone: "\e904";
$miracle-icon-map: "\e905";
$miracle-icon-mail: "\e906";
$miracle-icon-instagram: "\e907";
$miracle-icon-facebook: "\e908";

=======
$icomoon-font-path: "fonts" !default;

$miracle-icon-hostel: "\e90c";
$miracle-icon-eda: "\e90d";
$miracle-icon-gid: "\e909";
$miracle-icon-photo: "\e90a";
$miracle-icon-avtobus: "\e90b";
$miracle-icon-viber: "\e902";
$miracle-icon-watsup: "\e900";
$miracle-icon-vk: "\e901";
$miracle-icon-play: "\e903";
$miracle-icon-phone: "\e904";
$miracle-icon-map: "\e905";
$miracle-icon-mail: "\e906";
$miracle-icon-instagram: "\e907";
$miracle-icon-facebook: "\e908";

>>>>>>> 5e8d487f7cd07eda030dcb0b1bff29dce422e99f
